<!DOCTYPE html>
<html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>얌얌 꿀떡!</title>

</head>

<body>
    
    <div id="foodListContainer">

        <div id="header">
            <!-- <main-header/> -->
            <header-nav class="headerNav"/>
        </div>

        <div id="infoPop" v-if="infoShow">
            <div class="infoContentContainer">
                <info-com :animalinfo="animalInfo" :animaltype="animals"></info-com>
                <div class="btns">

                    <button v-if="admin" @click="updateAnimalInfo">수정하기</button>
                    <button @click="" v-if="admin">삭제</button>
                    <button @click="addReview(animalInfo.animal.food.id)">리뷰달기</button>
                    <button @click="infoShowToggle">닫기</button>
                </div>
            </div>
        </div>

        <div id="bodyContainer">

            <div class="searchTool">
                2021-10-12 : 여기에 서치바랑 카테고리 버튼들이 들어갈꺼임!<br>
                2021-10-11 : 시간 없어서 못할듯!
                <hr>
            </div>
    
            <div class="foodCards">
                <div class="card" :class="checked(boolean)" v-for="(boolean, i) in flip" @click="flipCard(i)">
                    
                    <!-- 앞에 부분 -->
                    <div class="cardContent front">
                        <h3>{{foodList[i].name}}</h3>
                    </div>
    
                    <!-- 돌렸을 때 -->
                    <div class="cardContent">
                        <div v-for="animal in animals" class="back" :class="checked(boolean)">
                            <div class="btn">
                                <div class="animalInfoBtn" @click="infoPage(foodList[i].id, animal.id)">
                                    {{animal.name}} <br>
                                    {{eatable(foodList[i].id, animal.id)}}
                                </div>
                            </div>
                        </div>
                        <div v-if="admin" class="back" :class="checked(boolean)" @click="deleteFood(foodList[i].id)"> 
                            <div class="btn">
                                <div class="animalInfoBtn">
                                    삭제<br>
                                    ⚙
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>

        </div>

    </div>
    
    <template id="headerNav">
        <div class="navContents">
            <a href="foodList.html"><h3>Yam! Yam!</h3></a>
            <ul class="navLinks">
                <li>
                    <div class="dog">🐶</div>
                    <button @click="myPage">My Page</button>
                </li>
                <li v-if="admin">
                    <div class="dog">🐶</div>
                    <button @click="addFood">Add Food</button>
                </li>
                <li>
                    <div class="dog">🐶</div>
                    <button @click="logout">Log Out</button>
                </li>
            </ul>
        </div>
    </template>

    <template id="infoPage">
        <div>
            <div>
                {{animalinfo.animal.food.name}}
                <hr>
            </div>
            <div>
                <ul>
                    <li>
                        먹어도 될까요? : <br>
                        <div v-if="eatableInfo(animalinfo.eatable)">{{animalinfo.amount}}</div>
                        <div v-else>먹으면 큰일나요 🤢</div>
                    </li>
                    <li>
                        설명: <br>
                        {{animalinfo.info}}
                    </li>
                </ul>
                리뷰 댓글:
                <div id="reviewContainer">
                    <div class="review" v-for="post in animalinfo.animal.food.postList" >
                        ID: {{post.user.id}} - {{post.user.name}} - {{post.user.breed}}
                        <hr>
                        {{"⭐".repeat(post.star)}} <br>
                        {{post.info}} 
                    </div>        
                </div>
            </div>
        </div>
    </template>

    <script>

        // import MainHeader from 'MainHeader.vue'

        // 뷰에서 사용할 수 있는 global 변수 선언!
        Vue.prototype.$user = JSON.parse(sessionStorage.getItem("user"));

        window.onload = () => {
            axios({
                method: "post",
                url: "/checkSession"
            }).catch(err => {
                exceptionHandler(err);
            })
        };

        exceptionHandler = (err) => {
            let message = err.response.data.message;
            if(message === "session end") {
                alert("세션이 만료되었습니다 다시 로그인 부탁드립니다");
                window.location.href="index.html"
            } else {
                alert(message);
            }
        };

        Vue.component("header-nav", {
            template: "#headerNav",
            data() {
                return {
                    user: null,
                    admin: null
                }
            },
            created() {
                this.user = this.$user;
                axios.get("/checkAdmin").then(res => {
                    return this.admin = res.data === 1 ? true : false;
                })
            },
            methods: {
                hover2(a) {
                    console.log(a);
                    a.removeItem("🐶");
                },
                myPage() {
                    window.location.href="myPage.html"
                },
                addFood() {
                    window.location.href="addPage.html"
                },
                logout() {
                    axios({
                        method: "get",
                        url: "/logout"
                    }).then(res => {
                        console.log(res.data);
                        window.location.href = res.data;
                        sessionStorage.removeItem("user");
                    }).catch(err => {
                        exceptionHandler(err);
                    })
                },
            },
        });

        Vue.component("info-com", {
            template: "#infoPage",
            props: ["animalinfo"],
            methods: {
                eatableInfo(boolean) {
                    return boolean? true : false;
                }
            }
        });

        new Vue({
            el: "#foodListContainer",
            data: {
                foodList: [],
                flip: [],
                animals: [],
                foodInfo: [],
                infoShow: false,
                animalInfo: null,
                user: null,
                admin: null
            },
            async created() { 
                this.user = this.$user;
                await axios.get("/checkAdmin").then(res => {
                    return this.admin = res.data === 1 ? true : false;
                })
                await axios.get("/foodListAll").then(res => {
                    this.foodList = res.data;
                    this.foodList.forEach(v => {
                        this.flip.push(true);
                    })
                }).catch(err => {
                    exceptionHandler(err);
                });
                await axios.get("/getAnimalType").then(res => {
                    this.animals = res.data;
                }).catch(err => {
                    exceptionHandler(err);
                });
                await axios.get("/getFoodInfoAll").then(res => {
                    console.log(res.data);
                    this.foodInfo = res.data;
                }).catch(err => {
                    exceptionHandler(err);
                });
            },
            methods: {
                flipCard(i) {
                    // Vue의 인덱스값 사용 제한 
                    // 실시간 업데이트에 대한 제한으로 아래 함수를 활용
                    // Vue.set(바꾸고 싶은 데이터, 데이터 인덱스 위치, 새로 작성하는 값)
                    this.$set(this.flip, i, !this.flip[i]);
                },
                checked(boolean) {
                    return boolean? { flip: false, cardBackShow: false } : { flip: true ,cardBackShow: true }
                },
                eatable(foodId, animalId) {
                    let check = "";
                    let result = "";
                    this.foodInfo.forEach(v => {
                        if(v.food.id === foodId && v.animalInfo.animalType === animalId) {
                            check = v.animalInfo.eatable;
                        }
                    })
                    result = check === 1 ? "💚" : (check === 0 ? "❌" : "🟡");

                    return result;
                },
                infoShowToggle(){
                    this.infoShow = !this.infoShow;
                },
                infoPage(foodId, animalId) {
                    let info = "";
                    info = this.foodInfo.filter(v => v.food.id === foodId && v.animalInfo.animalType === animalId)
                    if(info.length === 0) {
                        this.admin ? this.addAnimalInfo(foodId, animalId) : alert("죄송합니다 아직 정보가 없습니다");
                    } else {
                        axios({
                            method: "get",
                            url: "/getAnimalInfo",
                            params: {
                                id : info[0].animalInfo.id
                            }
                        }).then(res => {
                            this.animalInfo = res.data;
                            this.infoShow = !this.infoShow;
                        }).catch(err => {
                            exceptionHandler(err);
                        })
                    }
                },
                addReview(foodId) {
                    localStorage.setItem("foodId", foodId);
                    window.location.href = "addReview.html";
                },
                addAnimalInfo(foodId, animalId) {
                    alert("정보가 없습니다. 추가 페이지로 이동합니다.")
                    let animalInfo = {};
                    animalInfo["foodId"] = foodId
                    animalInfo["animalType"] = animalId

                    localStorage.setItem("animalInfo", JSON.stringify(animalInfo));
                    window.location.href = "addAnimalInfo.html";
                },
                updateAnimalInfo(foodId, animalId, amount, eatable, info, animal_idx) {
                    let animalInfo = {};
                    animalInfo["amount"] = this.animalInfo.amount;
                    animalInfo["eatable"] = this.animalInfo.eatable;
                    animalInfo["info"] = this.animalInfo.info;
                    animalInfo["animalInfoId"] = this.animalInfo.id;

                    localStorage.setItem("animalInfo", JSON.stringify(animalInfo));
                    window.location.href = "updateAnimalInfo.html";
                deleteFood(foodId) {
                    axios({
                        method: "delete",
                        url: "/deleteFood",
                        params: {
                            foodId: foodId
                        }
                    }).then(res => {
                        alert(res.data)
                        window.location.href = "foodList.html";
                    }).catch(err => {
                        exceptionHandler(err)
                    })
                }
            }
        });

    </script>

</body>

</html>

