<!DOCTYPE html>
<html>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>얌얌 꿀떡!</title>

    <style>
       
        #bodyContainer {
            transform: translateY(60px);
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .addPageContainer {
            width: 50%;
            height: 50%;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            filter: drop-shadow(0.25rem 0.25rem 0.10rem rgb(207, 192, 192));
        }

        .addPageForm {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

    </style>

</head>

<body>
    
    <div id="MyPageContainer">

        <div id="header">
            <header-nav class="headerNav"></header-nav>
        </div>

        <!-- 여기서부터 리뷰 페이지 작성 -->
        <div id="bodyContainer">
            <div class="addPageContainer">
                <form @submit.prevent="submitUserInfo" class="addPageForm">
                    <label for="id" >ID</label>
                    <span type="text">{{id}}</span>

                    <label for="name">Name</label>
                    <input type="text" v-model:value="name">

                    <label for="Breed">Animal Type</label>
                    <select name="type" v-model:value="animalType" >
                        <option :value="null" hidden="" disabled="disabled" selected="selected">{{defaultType}}</option>
                        <option :value="animal.id" v-for="animal in animals">{{animal.name}}</option>
                    </select>

                    <label for="breed" >Breed</label>
                    <input type="text" v-model:value="breed">

                    <label for="weight" >Weight (Kg)</label>
                    <input type="text" v-model:value="weight">

                    <input type="submit" value="수정">
                </form>
            </div>
        </div>

    </div>

    <template id="headerNav">
        <div class="navContents">
            <a href="foodList.html"><h3>Yam! Yam!</h3></a>
            <ul class="navLinks">
                <li>
                    <div class="dog">🐶</div>
                    <button @click="myPage">My Page</button>
                </li>
                <li>
                    <div class="dog">🐶</div>
                    <button @click="favorites">Favorites</button>
                </li>
                <li v-if="user.admin == 1">
                    <div class="dog">🐶</div>
                    <button @click="addFood">Add Food</button>
                </li>
                <li>
                    <div class="dog">🐶</div>
                    <button @click="logout">Log Out</button>
                </li>
            </ul>
        </div>
    </template>

    <script>

        Vue.prototype.$user = JSON.parse(sessionStorage.getItem("user"));

        window.onload = () => {
            axios({
                method: "post",
                url: "/checkSession"
            }).catch(err => {
                exceptionHandler(err);
            })
        };

        exceptionHandler = (err) => {
            let message = err.response.data.message;
            if(message === "session end") {
                alert("세션이 만료되었습니다 다시 로그인 부탁드립니다");
                window.location.href="index.html"
            } else {
                alert(message);
            }
        }

        let eventBus = new Vue();
        
        Vue.component("header-nav", {
            template: "#headerNav",
            data() {
                return {
                    user: null
                }
            },
            created() {
                this.user = this.$user;
                eventBus.$emit("user", this.user);
            },
            methods: {
                hover2(a) {
                    console.log(a);
                    a.removeItem("🐶");
                },
                myPage() {
                    alert("myPage");
                },
                favorites() {
                    alert("favorites");
                },
                addFood() {
                    window.location.href="addPage.html"
                },
                logout() {
                    axios({
                        method: "get",
                        url: "/logout"
                    }).then(res => {
                        console.log(res.data);
                        window.location.href = res.data;
                        sessionStorage.removeItem("user");
                    }).catch(err => {
                        exceptionHandler(err);
                    })
                },
            },
        });

        new Vue({
            el: "#MyPageContainer",
            data: {
                defaultType: null,
                animalType: null,
                animals: [],
                breed: null,
                id: null,
                pw: null,
                name: null,
                weight: null,
                admin: null,
            },
            created() {
                eventBus.$on("user", user => {
                    axios.get("/getAnimalType").then(res => {
                    this.animals = res.data;
                    this.defaultType = res.data[user.animalType-1].name;
                    this.animalType = user.animalType
                    })
                    this.breed = user.breed;
                    this.id = user.id;
                    this.pw = user.pw;
                    this.name = user.name;
                    this.weight = user.weight;
                    this.admin = user.admin
                })
            },
            methods: {
                submitUserInfo: function() {
                    axios({
                        method: "post",
                        url: "/editPetUser",
                        params: {
                            id: this.id,
                            pw: this.pw,
                            name: this.name,
                            animalType: this.animalType,
                            breed: this.breed,
                            admin: this.admin,
                            weight: this.weight
                        }
                    }).then(res => {
                        alert(res.data);
                    }).catch(err => {
                        exceptionHandler(err);
                    })
                }
            }


        });

    </script>

</body>

</html>

