
    body {
        background-color: #FFE2EE;
        margin: 0px;
    }
    
    /* --------------------------------- header -------------------------------------- */

    #header{
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: white;
        margin-bottom: 10px;
        z-index: 1;
        filter: drop-shadow(0.25rem 0.25rem 0.10rem rgb(207, 192, 192));
    }

    #header a {
        text-decoration: none;
    }

    .navContents {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navLinks {
        width: 40%;
        display: flex;
        align-content: flex-end;
        justify-content: space-between;
    }
    
    .navLinks li {
        list-style: none;
    }

    .navLinks li button {
        font-size: 0.8rem;
        font-weight: bold;
        background: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s ease-in;
    }

    .navLinks li:hover .dog {
        display: block;
    }

    .navLinks li .dog {
        position: absolute;
        transform: translateX(-20px);
        display: none;
    }