
    body {
        background-color: #FFE2EE;
        margin: 0px;
    }
    
    /* --------------------------------- header -------------------------------------- */

    #header{
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: white;
        margin-bottom: 10px;
        z-index: 1;
        filter: drop-shadow(0.25rem 0.25rem 0.10rem rgb(207, 192, 192));
    }

    #header a {
        text-decoration: none;
    }

    .navContents {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navLinks {
        width: 30%;
        display: flex;
        align-content: flex-end;
        justify-content: space-between;
    }
    
    .navLinks li {
        list-style: none;
    }

    .navLinks li button {
        font-size: 0.8rem;
        font-weight: bold;
        background: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 1s ease-in;
    }

    .navLinks li:hover .dog {
        display: block;
    }

    .navLinks li .dog {
        position: absolute;
        transform: translateX(-20px);
        display: none;
    }

    /* --------------------------------- form container -------------------------------------- */
    
    .pageContainer {
        margin-top: 80px;
        width: 50%;
        height: 50%;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        filter: drop-shadow(0.25rem 0.25rem 0.10rem rgb(207, 192, 192));
        /* display: flex;
        flex-direction: column;
        justify-content: center;  */
    }
    
    .addPageForm {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #bodyContainer button{
        background:#FFE2EE;
        border: none;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        cursor: pointer;
        transition: ease-in 0.3s;
    }

    .addPageForm input, .addPageForm select {  
        border: none;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        cursor: pointer;
        transition: ease-in 0.3s;
    }

    .addPageForm input:not([type="submit"]), .addPageForm select {
        background-color:#ffffff;
        box-shadow: 0 0 0 1px #FFE2EE inset;
    }

    .addPageForm input[type=submit] {
        background-color:#FFE2EE;
    }

    .addPageForm input[type=submit]:hover {
        background-color:#ffffff;
        box-shadow: 0 0 0 1px #FFE2EE inset;
    }